[Unit]
Description="triggers a service every 10 min after the reboot (first occurrence is 10min after reboot) 

[Timer]
OnBootSec="10 min"
OnUnitActiveSec="10 min"

[Install]
WantedBy=timers.target